<footer class="l-footer">
	<article class="l-footer__main">
		<nav class="p-relatednavi">
			<ul class="p-relatednavi__menu">
				<li class="p-relatednavi__menu__item"><a href="#" class="c-button--border" target="_blank">myuji Web Store</a></li>
				<li class="p-relatednavi__menu__item"><a href="#" class="c-button--border" target="_blank">企業情報</a></li>
				<li class="p-relatednavi__menu__item"><a href="#" class="c-button--border" target="_blank">myuji STUDY HALL</a></li>
			</ul>
		</nav>
		<nav class="p-fnavi">
			<ul class="p-fnavi__menu">
				<li class="p-fnavi__menu__item"><a href="#">PCサイト</a></li>
				<li class="p-fnavi__menu__item"><a href="#">お客様窓口</a></li>
				<li class="p-fnavi__menu__item"><a href="#">個人情報保護方針</a></li>
				<li class="p-fnavi__menu__item"><a href="#">お願いとご注意</a></li>
				<li class="p-fnavi__menu__item"><a href="#">サイトマップ</a></li>
			</ul>
		</nav>
	</article>
	<article class="l-footer__end">
		<small class="l-footer__end__copy">&copy; myuji Corp. All Rights Reserved.</small>
	</article>
</footer>

<script src="/top/js/jquery.min.js"></script>
<script src="/top/js/slick/slick.min.js"></script>
<script src="/top/js/hamburger.js"></script>
<script src="/top/js/jquery.heightLine.js"></script>
<script src="/top/js/config.js"></script>
</body>
</html>
