<header class="l-header is-header">
	<article class="l-header__main">
		<h1 class="l-header__main__logo"><a href="/"><img src="/top/images/common/header/logo.png" alt="logo"></a></h1>
		<a class="l-header__main__smenubt c-buttom--smenu is-hamburger__bt" href="#">Menu</a>
		<div class="c-hamburger__bg is-hamburger__bg">
			<nav class="p-snavi is-hamburger__menu">
				<ul class="p-snavi__menu">
					<li class="p-snavi__menu__item--close"><a href="#" class="c-button--close is-close__bt"></a></li>
					<li class="p-snavi__menu__item--search">
						<div class="p-snavi__menu__item--search__ttl"><i class="u-icon--search"></i><label for="sitesarch" class="p-form--search__label">サイト内検索</label></div>
						<div class="p-snavi__menu__item--search__box"><input type="search" name="sitesarch" class="p-form--search__input"></div>
					</li>
					<li class="p-snavi__menu__item--regist"><a href="#"><i class="u-icon--key"></i><span>ログイン・新規登録</span></a></li>
					<li class="p-snavi__menu__item--shop"><a href="#"><i class="u-icon--shop"></i><span>店舗検索</span></a></li>
					<li class="p-snavi__menu__item u-mt8"><a href="#">ブランド一覧</a></li>
					<li class="p-snavi__menu__item__2link"><a href="#" class="p-snavi__menu__item__link">下着を探す</a><a href="#" class="p-snavi__menu__item__togglebt"><i class="u-arrow--top"></i></a></li>
					<li class="p-snavi__menu__lv2 is-open">
						<ul class="p-snavi__menu__lv2__list">
							<li class="p-snavi__menu__item--w50"><a href="#">ブラジャー</a></li>
							<li class="p-snavi__menu__item--w50"><a href="#">ショーツ</a></li>
							<li class="p-snavi__menu__item--w50"><a href="#">ルームウェア</a></li>
							<li class="p-snavi__menu__item--w50"><a href="#">スポーツ</a></li>
							<li class="p-snavi__menu__item--w50"><a href="#">メンズ</a></li>
							<li class="p-snavi__menu__item--w50"><a href="#">マタニティ</a></li>
							<li class="p-snavi__menu__item--w50"><a href="#">ジュニア</a></li>
							<li class="p-snavi__menu__item--w50"><a href="#">ブライダル</a></li>
							<li class="p-snavi__menu__item"><a href="#">+ 別のアイテムを探す</a></li>
							<li class="p-snavi__menu__item"><a href="#">ランキング</a></li>
							<li class="p-snavi__menu__item"><a href="#">ピックアップ</a></li>
							<li class="p-snavi__menu__item"><a href="#">新着コンテンツ</a></li>
							<li class="p-snavi__menu__item"><a href="#">レビュー一覧</a></li>
						</ul>
					</li>
					<li class="p-snavi__menu__item__2link"><a href="#" class="p-snavi__menu__item__link">How to＆読み物</a><a href="#" class="p-snavi__menu__item__togglebt"><i class="u-arrow--bottom"></i></a></li>
					<li class="p-snavi__menu__lv2 is-close">
						<ul class="p-snavi__menu__lv2__list">
							<li class="p-snavi__menu__item"><a href="#">ランキング</a></li>
							<li class="p-snavi__menu__item"><a href="#">ピックアップ</a></li>
							<li class="p-snavi__menu__item"><a href="#">新着コンテンツ</a></li>
							<li class="p-snavi__menu__item"><a href="#">レビュー一覧</a></li>
							<li class="p-snavi__menu__item--w50"><a href="#">ブラジャー</a></li>
							<li class="p-snavi__menu__item--w50"><a href="#">ショーツ</a></li>
							<li class="p-snavi__menu__item--w50"><a href="#">ルームウェア</a></li>
							<li class="p-snavi__menu__item--w50"><a href="#">スポーツ</a></li>
							<li class="p-snavi__menu__item--w50"><a href="#">メンズ</a></li>
							<li class="p-snavi__menu__item--w50"><a href="#">マタニティ</a></li>
							<li class="p-snavi__menu__item--w50"><a href="#">ジュニア</a></li>
							<li class="p-snavi__menu__item--w50"><a href="#">ブライダル</a></li>
							<li class="p-snavi__menu__item"><a href="#">+ 別のアイテムを探す</a></li>
						</ul>
					</li>
					<li class="p-snavi__menu__item"><a href="#">旬のおすすめ</a></li>
					<li class="p-snavi__menu__item"><a href="#">キャンペーン＆プレゼント</a></li>
					<li class="p-snavi__menu__item"><a href="#">ニュース＆トピックス</a></li>
					<li class="p-snavi__menu__item"><a href="#">SNSアカウント一覧</a></li>
					<li class="p-snavi__menu__item"><a href="#">お問い合わせ</a></li>
					<li class="p-snavi__menu__item u-border--snavi--separator"><a href="#">サイトマップ</a></li>
					<li class="p-snavi__menu__item"><a href="#">mujuWeb Store</a></li>
					<li class="p-snavi__menu__item"><a href="#">企業情報</a></li>
					<li class="p-snavi__menu__item"><a href="#">for tourist Japan</a></li>
					<li class="p-snavi__menu__item u-border--snavi--separator"><a href="#">mujuスタディホール京都</a></li>
					<li class="p-snavi__menu__item--sns">
						<h2 class="p-snavi__menu__item--sns__ttl">Follow us</h2>
						<ul class="c-snslist">
							<li class="c-snslist__item"><a href="#"><i class="u-icon--twitter"></i></a></li>
							<li class="c-snslist__item"><a href="#"><i class="u-icon--facebook"></i></a></li>
							<li class="c-snslist__item"><a href="#"><i class="u-icon--instagram"></i></a></li>
							<li class="c-snslist__item"><a href="#"><i class="u-icon--line"></i></a></li>
							<li class="c-snslist__item"><a href="#"><i class="u-icon--youtube"></i></a></li>
						</ul>
						<div class="c-snslist__item__mail"><a href="#"><i class="u-icon--mail"></i> メールマガジン登録</a></div>
					</li>
				</ul>
			</nav>
		</div>
	</article>
</header>
<nav class="l-header__navi p-gnavi">
	<ul class="p-gnavi__menu">
		<li class="p-gnavi__menu__item"><a href="#">Login</a></li>
		<li class="p-gnavi__menu__item"><a href="#">Shop list</a></li>
		<li class="p-gnavi__menu__item"><a href="#">Brands</a></li>
	</ul>
</nav>
