<header class="l-header">
	<article class="l-header__main">
		<h1 class="l-header__main__logo"><img src="/images/common/header/logo.png" alt="logo" width="42"></h1>
		<a class="l-header__main__smenubt c-buttom--smenu" href="#">Menu</a>
		<nav class="p-snavi">
			<ul class="p-snavi__menu__lv1">
				<li class="p-snavi__menu__lv1__item1">
					<ul class="p-snavi__menu__lv2">
						<li class="p-snavi__menu__lv2__item1"></li>
					</ul>
				</li>
			</ul>
		</nav>
	</article>
	<nav class="l-header__navi p-gnavi">
		<ul class="p-gnavi__menu">
			<li class="p-gnavi__menu__item"><a href="#">My Claren</a></li>
			<li class="p-gnavi__menu__item"><a href="#">Brands</a></li>
			<li class="p-gnavi__menu__item"><a href="#">Shop list</a></li>
		</ul>
	</nav>
</header>
