<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
<% if( typeof title !== 'undefined' ) { -%>
	<title><%= title %></title>
<% } else { -%>
	<title></title>
<% } -%>
<% if( typeof metadescription !== 'undefined' ) { %>
	<meta name="description" content="<%= metadescription %>">
<% } -%>
<% if( typeof metakeywords !== 'undefined' ) { -%>
	<meta name="keywords" content="<%= metakeywords %>">
<% } -%>

	<meta name="viewport" content="width=device-width, user-scalable=0">
	<meta name="format-detection" content="telephone=no">

	<!-- build:css /css/common.css -->
	<link rel="stylesheet" href="/node_modules/sanitize.css/sanitize.css">
	<link rel="stylesheet" href="/css/common.css">
	<!-- endbuild -->
</head>
<body>
