.u-arrow {
	position: relative;
	display: inline-block;
	// padding-left: 20px;
	&::before {
		content: '';
		width: 10px;
		height: 10px;
		border: 0px;
		border-top: solid 1px #585c5e;
		border-right: solid 1px #585c5e;
		transform: rotate( 135deg );
		position: absolute;
		top: 20%;
		left: 0;
	}
	&--bottom {
		@extend .u-arrow;
	}
	&--top {
		@extend .u-arrow;
		&::before {
			transform: rotate( -45deg );
		}
	}
}
