.u-border {
	&--glay {
		border-color: #555;
	}
	&--snavi--separator {
		&::after {
			content: "";
			border-bottom: 8px solid #eaf0f4;
			display: block;
		}
	}
	&--bottom0 {
		border-bottom: 0;
	}
}
