@font-face {
	font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?pia5ao');
    src:  url('../fonts/icomoon.eot?pia5ao#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?pia5ao') format('truetype'),
    url('../fonts/icomoon.woff?pia5ao') format('woff'),
    url('../fonts/icomoon.svg?pia5ao#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="u-icon--"], [class*=" u-icon--"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.u-icon--line:before {
  content: "\e900";
}
.u-icon--mail:before {
  content: "\e901";
}
.u-icon--instagram:before {
  content: "\e902";
}
.u-icon--facebook:before {
  content: "\ea91";
}
.u-icon--twitter:before {
  content: "\ea96";
}
.u-icon--youtube:before {
  content: "\ea9d";
}

.u-icon {
	position: relative;
	&::after {
		content: "";
		position: absolute;
		display: inline-block;
	}
	&--triangle {
		@extend .u-icon;
		&::after {
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 5px 0 5px 10px;
			border-color: transparent transparent transparent #bc1b5c;
		}
	}
	&--search {
		@extend .u-icon;
		&::after {
			width: 16px;
			height: 21px;
			background: url( ../images/common/ico/menu/search.png ) no-repeat;
			background-size: 16px auto;
			top: 0;
			left: 0;
		}
	}
	&--key {
		@extend .u-icon--search;
		&::after {
			width: 16px;
			height: 21px;
			background: url( ../images/common/ico/menu/key.png ) no-repeat;
			background-size: 16px auto;
			top: -1px;
		}
	}
	&--shop {
		@extend .u-icon--search;
		&::after {
			width: 16px;
			height: 21px;
			background: url( ../images/common/ico/menu/shop.png ) no-repeat;
			background-size: 16px auto;
			background-position: center;
			top: -1px;
		}
	}
	&--list {
		@extend .u-icon--search;
		&::after {
			width: 13px;
			height: 10px;
			background: url( ../images/common/ico/menu/list.png ) no-repeat;
			background-size: 13px 10px;
			background-position: center;
			top: 2px;
		}
	}
	&--store {
		@extend .u-icon--search;
		&::after {
			width: 14px;
			height: 12px;
			background: url( ../images/common/ico/menu/store.png ) no-repeat;
			background-size: 14px 12px;
			background-position: center;
			top: 2px;
		}
	}

}
