<%-
	include( 'layout/_head', {
		title: 'トップページABC', // title 要素のテキスト
		metadescription: 'トップページ用のメタディスクリプションあああ', // メタディスクリプション
		metakeywords: 'キーワード, カンマ' // メタキーワード
	} );
-%>
<%- include( 'layout/_header' ); %>
<main>

	<p>gulp-ejs 2.0.xリリース</p>
	<p><img src="/images/leopard.jpg" alt="ヒョウ"></p>
	<p>※CC0</p>

</main>

<%- include( 'layout/_footer' ); %>
