<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title></title>

	<!-- ↓file combine config-->
	<!-- build:css css/common.css -->
	<link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="../bower_components/reset-css/reset.css">
	<!-- endbuild -->

</head>
<body>

<!--↓read-temlatefile-->
<% include _head %>

<main>
</main>

<!--↓read-temlatefile-->
<% include _foot %>

<!-- ↓file combine config-->
<!-- build:js js/lib.js -->
<script src="../bower_components/jQuery/dist/jquery.min.js"></script>
<script src="../bower_components/slick-carousel/slick/slick.min.js"></script>
<!-- endbuild -->

</body>
</html>
