.p-site-aside {
	margin: 0;
	padding: 40px 20px 50px;
	background: #f6f6f6;
	&__section1 {
		padding-bottom: 60px;
		&__ttl {
			margin-bottom: 40px;
			color: #999;
			font-weight: normal;
		}
	}
	&__section2 {
		padding-bottom: 60px;
		&__ttl {
			margin: 0 0 30px;
			padding: 0;
			font-family: 'Raleway', sans-serif;
			font-size: 2.4rem;
			color: #444;
		}
	}//&__section2
	&__section3 {
		&__list {
			width: 100%;
			margin-bottom: 30px;
			border-bottom: 1px solid #e6e6e6;
			&:last-child {
				border: none;
			}
			&__item {
				width: 47%;
				margin: 0 0 25px;
				padding-left: 9px;
				display: inline-block;
				background: url( ../images/common/ico/triangle.png ) no-repeat;
				background-position: 0 7px;
				background-size: 6px 6px;
				vertical-align: top;
				box-sizing: border-box;
				a {
					font-size: 1.4rem;
					text-decoration: none;
					color: #444;
					display: inline;
					box-sizing: border-box;
				}
				&--sp {
					@extend .p-site-aside__section3__list__item;
					background-position: 0 10px;
					width: 100%;
					a {
						width: 100%;
						font-size: 1.8rem;
						color: $color--main;
						i {
							top: 8px;
						}
					}
					&--ttl {
						@extend .p-site-aside__section3__list__item--sp;
						font-size: 1.8rem;
						color: $color--main;
					}
				}
				&--ttl {
					@extend .p-site-aside__section3__list__item--sp;
					background-position: 0 6px;
					a {
						font-size: 1.4rem;
						color: #999;
					}
				}
				&--w100 {
					@extend .p-site-aside__section3__list__item;
					width: 100%;
				}
			}//&__item
		}
	}
}
