.c-hamburger {
	&__bt,
	&__bt span {
	  transition: all .4s;
	  box-sizing: border-box;
	  display: inline-block;
	}
	&__bg {
		width: 100%;
		height: 100%;
		overflow: hidden;
		top: 0;
		right: -100%;
		position: fixed;
		transition: all 0.3s;
		z-index: 2;
		&.is-hamburger--active {
			right: 0;
			visibility: visible;
			overflow-y: scroll;
		}
	}
}//.c-hamburger

.is-hamburger--body {
	position: fixed !important;
}
.c-hamburger__bg::after{
	transition: all 1s;
	opacity: 0;
}

body.is-hamburger--open .c-hamburger__bg::after{
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	position:fixed;
	left:0;
	top: 0;
	background: #000;
	z-index: 1;
	opacity: 0.5;
  transition: all 4s;
}
