<%-
	include( '../layout/_head', {
		title: '下層ページ', // title 要素のテキスト
		metadescription: '下層ページ用のメタディスクリプションあああ', // メタディスクリプション
		metakeywords: 'キーワード, カンマ' // メタキーワード
	} );
-%>
<%- include( '../layout/_header' ); %>
<main>

	<p>下層ページ(2.0.1対応！)</p>
	<p><img src="/images/leopard.jpg" alt="ヒョウ"></p>
	<p>※CC0</p>

</main>

<%- include( '../layout/_footer' ); %>
