.c-box {
	&--joinset {
		display: flex;
		flex-wrap: nowrap;
		margin-bottom: 40px;
		&__item {
			width: 50%;
			img {
				width: 100%;
				margin-bottom: 14px;
			}
		}
		figcaption {
			margin-left: 15px;
		}
		a {
			text-decoration: none;
			color: #444;
		}
	}
	&--imgcover {
		img {
			width: 100%;
		}
	}
	&--img-rtxt {
		border-top: 1px solid #eee;
		display: flex;
		align-items: center;
		flex-wrap: nowrap;
		&__end {
			border-bottom: 1px solid #eee;
		}
		img {
			width: 105px;
		}
		figcaption {
			padding: 9px;
			color: #444;
			font-size: 1.4rem;
		}
		&--noborder {
			@extend .c-box--img-rtxt;
			border-top: 0;
			&__end {
				border-bottom: 0;
			}
			figcaption {
				padding: 0 0 0 18px;
			}
		}
	}
	&--cover {
		img {
			width: 100%;
		}
	}
	&--tile {
		&__item {
			width: calc( 100vw / 3 );
			display: inline;
			img {
				width: calc( 100vw / 3 );
				margin: 0;
				padding: 0;
			}
		}
	}
	&--dataset {
		&__date {
			margin-bottom: 10px;
			padding: 0;
			font-size: 1.2rem;
			color: #999;
		}
		&__txt {
			padding: 0 0 10px;
			margin: 0 0 30px;
			border-bottom: 1px solid #d9d9d9;
			a {
				color: #444;
				text-decoration: none;
				font-size: 1.4rem;
				line-height: 1.6;
				position: relative;
				&::before {
					content: "";
					width: 11px;
					height: 9px;
					background: url( ../images/common/ico/pc.png );
					background-size: 100%;
					top: -2px;
					display: inline-block;
					position: relative;
				}
			}
		}

	}
}
