.c-button {
	&--smenu {
		font-family: 'Raleway';
	}
	&--border {
		margin: auto;
		padding: 12px;
		color: #fff;
		text-decoration: none;
		text-align: center;
		border: 1px solid #fff;
		display: block;
		font-family: 'Noto Sans', sans-serif;
		&--circle {
			@extend .c-button--border;
			width: 60%;
			border-radius: 45px;
			&--glay {
				@extend .c-button--border--circle;
				color: #444;
				border-color: #555;
			}
		}
		&--tagcloud {
			@extend .c-button--border;
			padding: 10px 30px;
			border-radius: 45px;
			color: #444;
			border-color: #555;
		}
	}
	&--circle {
		padding: 8px;
		color: #fff;
		text-decoration: none;
		text-align: center;
		display: block;
		font-family: 'Noto Sans', sans-serif;
		width: 60%;
		border-radius: 45px;
		&--maincolor {
			@extend .c-button--circle;
			background: $color--main;
			color: #fff;
		}
	}
	&--close {
		width: 20px;
		height: 20px;
		font-family: 'Raleway';
		position: relative;
		display: inline-block;
		overflow: hidden;
		&::before, &::after {
			content: "";
			width: 100%;
			height: 2px;
			margin-top: -1px;
			top: 50%;
			left: 0;
			background: #4d5052;
			position: absolute;
		}
		&::before {
			transform: rotate( 45deg );
		}
		&::after {
			transform: rotate( -45deg );
		}
	}
}
