.p-fnavi {
	&::after {
		@include clearfix;
		position: relative;
		overflow: hidden;
	}
	&__menu {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		&__item {
			margin-left: 10px;
			font-size: 1.2rem;
			line-height: 2.0;
			&::after {
				content: "|";
				padding-left: 10px;
				display: inline-block;
				color: #404040;
			}
			a {
				color: #ccc;
				text-decoration: none;
			}
			&:first-child {
				width: 45%;
				text-align: right;
				margin-left: 0;
			}
			&:nth-child( 2 ) {
				width: 45%;
				&::after {
					content: "";
				}
			}
			&:nth-child( 3 ) {
				margin-left: 0;
			}
			&:nth-child( 4 ) {
			}
			&:last-child {
				&::after {
					content: "";
					padding-left: 0;
				}
			}
		}
	}
}
