.p-snavi {
	width: 90%;
	background: #fafafa;
	right: 0;
	position: absolute;
	z-index: 11;
	&__menu {
		z-index: 12;
		position: relative;
		&__item {
			width: 100%;
			height: 50px;
			line-height: 50px;
			text-align: left;
			color: #4d5052;
			border-bottom: 2px solid #e6edf2;
			box-sizing: border-box;
			&.is-active {
				height: 100%;
				line-height: auto;
			}
			&__2link {
				@extend .p-snavi__menu__item;
				position: relative;
			}
			a {
				width: 100%;
				height: 100%;
				padding: 0 20px;
				color: #4d5052;
				text-decoration: none;
				display: inline-block;
				box-sizing: border-box;
			}
			&__link {
				width: auto !important;
				height: auto !important;
				margin-left: 20px;
				padding: 0 0 3px 0 !important;
				border-bottom: 2px solid #e5ecf2 !important;
				display: inline !important;
			}
			&__togglebt {
				width: 20px !important;
				height: 20px !important;
				padding: 0 !important;
				display: block !important;
				position: absolute !important;
				margin-top: -8px;
				top: 50%;
				right: 10px;
				i {
					margin-top: -5px;
					top: 50%;
					position: absolute;
				}
			}
			i {
				margin-right: 10px;
				&::after {
				}
			}
			span,
			label {
				margin-left: 12px;
			}
			&--close {
				@extend .p-snavi__menu__item;
				text-align: right;
				a {
					width: 16px;
					height: 16px;
					margin-top: 16px;
					display: inline-block;
				}
			}
			&--search {
				@extend .p-snavi__menu__item;
				height: 100px;
				padding: 0 15px;
				text-align: left;
				&__ttl {
					height: 20px;
					margin: 5px 0 12px 0;
					padding: 0;
				}
				&__box {
					input {
						width: 100%;
						height: 35px;
						padding: 0;
						border: 1px solid #e6edf2;
						border-radius: 35px;
						background: #fff;
						color: #000;
					}
				}
			}
			&--regist {
				@extend .p-snavi__menu__item--search;
				padding: 0;
				height: 50px;
			}
			&--shop {
				@extend .p-snavi__menu__item--search;
				padding: 0;
				height: 50px;
			}
			&__bt {
				position: relative;
				.u-arrow--bottom,
				.u-arrow--top {
					top: 15px;
					right: 20px;
					position: absolute;
				}
				.u-arrow--top {
					top: 25px;
				}
			}
			&--sns {
				// height: 200px;
				padding: 20px;
				&__ttl {
					margin: 0;
					padding: 0 20px 20px 0;
					line-height: auto;
					font-family: 'Raleway', sans-serif;
					font-size: 2.4rem;
					color: #4d5052;
					text-align: left;
				}
			}
		}//&__item
		&__lv2 {
			height: 100%;
			padding-left: 40px;
			display: block;
			border-bottom: 2px solid #e6edf2;
			box-sizing: border-box;
			display: none;
			&__list {
				height: 100%;
				background: #e5ecf1;
				box-sizing: border-box;
				display: flex;
				flex-wrap: wrap;
				.p-snavi__menu__item {
					width: 100%;
					height: 50px;
					border-bottom: 2px solid #f8fafb;
					box-sizing: border-box;
					&:last-child {
						border-bottom: none;
					}
					a {
						padding: 0 20px;
					}
				}
				.p-snavi__menu__item--w50 {
					@extend .p-snavi__menu__item;
					width: 50%;
					box-sizing: border-box;
					&:nth-child( odd ) {
						border-right: 2px solid #f8fafb;
					}
				}
			}
			&.is-open {
				display: block;
			}
			&.is-close {
				display: none;
			}
		}//&__lv2
	}//%menu
}
