.l-footer {
	&__main {
		padding: 0 15px 25px;
		background: $color--glay--dark;
	}
	&__end {
		width: 100%;
		height: 64px;
		background: $color--main;
		position: relative;
		&__copy {
			margin-left: 12px;
			padding-bottom: 5px;
			font-family: 'Raleway', sans-serif;
			color: #7d0535;
			position: absolute;
			bottom: 0;
		}
	}
}
